html
body{
	background: url(https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-light-colors_476363-5558.jpg?w=1060);
    background-attachment: fixed;
}

a{
	color: blue;
}
h1{
	color: gray;
	background: aliceblue;
	background-position: center;
	padding: auto;
}
h2{
	color: #E67F37;
}
h4{
    color:#1A283D;
    background: aliceblue;
}