<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>about</title>
</head>
<body>

  <h1>О сайте</h1>
    <a href="\"> Повернутись до погоди</a>

</body>
{% endblock content %}
</html>