{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'fish/css/stiles.css'%}" rel="stylesheet"/>
</head>
<body>
    {% block mainmenu %}
	<ul>
        <li><a href="{% url 'about' %}" name="about">Про сайт</a></li>
        <li><a href="{% url 'story' %}">Розповідь про рибалку</a></li>
        <li><a href="/">На головну</a></li>
        <li><a href="{% url 'inform' %}">Корисна інформація</a></li>
        <li><a href="https://www.youtube.com/channel/UC3DxzNnOvlrh1wiYtmZoy0A">Youtube</a></li>
	</ul>
	<h1>Погода</h1>
	<img src="{% static 'fish/photos/seajpg.jpg' %}"  width="1500" height="100">
	<form action="{% url 'resault' %}" method="GET">
		<h2>Будьласка введіть місто:
			<input type="city" name="city" placeholder="місто">
			<input type="submit" value="OK"/>
		</h2>
	</form>
	<table>
	<tr>
	<td>
	<h4>Зараз в місті  {{name_city}}</h4>
	</td>
		<td><h4>{{ coment }}</h4></td>
	</tr>
	</table>
	<h4>Кількість балів успішної рибалки {{ point }} із 100</h4>
	<br>
	<ul >
	  <li><p>Температура: {{temperature}}<sup>°</sup></p></li>
	  <li><p>Швидкість вітру: {{wind_speed}}<sub> м/с</sub></p></li>
	  <li><p>Напрямок вітру: {{wind_der}}</p></li>
	  <li><p>Хмарність: {{cloudy}} %</p></li>
	  <li><p>Вологість повітря: {{humidity}} %</p></li>
	  <li><p>Атмосферний тиск: {{pressure}}<sub> мм рт.ст.</sub></p></li>
	</ul>


	<h4><a href="{% url 'inform' %}">Корисна інформація</a></h4>
	<h4>Також пропонуємо вам подивитись відео по темі полювання та риболовля  <a href="https://www.youtube.com/channel/UC3DxzNnOvlrh1wiYtmZoy0A"><b>тут</b></a></h4>
	<a href="{% url 'inform'%}"><img src="{% static 'fish/photos/foto1.jpg' %}" width="device-width" height="525"></a>
	<a href=""> Повернутись до погоди</a><br><br>
	{% endblock mainmenu %}
	{% block content %}
    {% endblock content %}
</body>
</html>