{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'fish/css/stiles.css'%}" rel="stylesheet"/>
</head>
<body>
    {% block mainmenu %}
	<ul>
        <li><a href="{% url 'about' %}" name="about">Про сайт</a></li>
        <li><a href="{% url 'story' %}">Розповідь про рибалку</a></li>
        <li><a href="/">На головну</a></li>
        <li><a href="{% url 'inform' %}">Корисна інформація</a></li>
        <li><a href="https://www.youtube.com/channel/UC3DxzNnOvlrh1wiYtmZoy0A">Youtube</a></li>
	</ul>
    {% endblock mainmenu %}
    {% block content %}
    {% endblock content %}

</body>
</html>