
<!DOCTYPE html>
<html>
{% extends  'base_weather.html' %}
{% block content %}
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
</head>
<body>
</body>
{% endblock content %}
</html>