<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Корисна інформація</title>
	<h1>Корисна інформація</h1>
	<style type="text/css">
		body{
			background: lightblue !important;
		}
	</style>

</head>
<body>

	<h2>Як визначити активність і місце розташування риби?</h2>
	<p>Кожен рибак має свої особисті спостереження і висновки про різні природні чинники, які впливають на покльов риби та її положення у водоймі. Але є ряд спостережень, які ми пояснити не можемо. Чому при низькому тиску риба клює гірше? Чому багато риб віддають перевагу похмурим дням яскравим сонячним? Як пояснити, що у сусіда по човну клює, а у вас ні, хоча гачки знаходяться деколи на відстані менше метра один від одного?</p>
	<table>
		<tr>
			<td><img src="{% static 'fish/photos/рыба.jpg' %}" width="768" height="480" alt="Багато риби"></td>
			<td><ul>
				<li><b>Освітленість водного середовища</b><p>Активність риб (рухову і харчову) більшою мірою визначає освітленість води. А вертикальні міграції викликають добові зміни цій самій освітленості.</p></li>
				<li><b>Атмосферний тиск</b><p>Вплив зміни атмосферного тиску пов`язаний із насиченням води киснем, який у свою чергу безпосередньо пов'язаний з величиною атмосферного тиску. Так, при падінні тиску кисень відразу почнуть віддавати верхні водні шари. Як наслідок – риба вирушає глибше. І відповідно – навпаки: із зростанням тиску в першу чергу збагачуються киснем відповідно теж верхні шари. Риба піднімається вгору.</p></li>
				<li><b>Температура води</b><p>Чим вище температура води, тим менше кисню в ній може розчинитися, але тим більше його треба рибі, оскільки прискорюється процес обміну речовин. Риби належать до живих організмів, здібних до терморегуляції. Іншими словами, риба в змозі міняти температуру тіла залежно від температури води. І вона (температура тіла) рідко буває вищою, ніж на пів градуса, ніж довкілля (виключення – тунець, температура тіла якого може бути вище за температуру води на 8-9 градусів). Саме тому на активність риби негативно позначається різка зміна температури води, тоді як поступове її підвищення або пониження риби переживають без особливих зусиль. У зимовий період несприятливою слід рахувати воду з температурою нижче +4° С.
				</p></li>
			</ul></td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<ul>
					<li><b>Вітер і його напрям</b><p>Хвилювання води, що викликається сильним вітром, достатньою мірою збагачує воду киснем, що зводить нанівець коливання тиску. Отже, навіть при низькому тиску рибалка може бути успішною. Тепер про напрям вітру. Північний вітер, як правило, приносить похолодання, а значить – зниження температури води. У цей період можна чекати активність холодолюбних риб і млявість теплолюбних. Південний вітер – навпаки. А ось західний і східний вітер в різних географічних широтах може по-різному позначатися на поведінці риб. Перш за все, це пов'язано з тим, яку саме погоду в даній місцевості обіцяє той або інший вітер. Так, наприклад, навесні і восени краще клювання буде в ясну і сонячну погоду, а влітку – навпаки, в похмурі дні. Так само потрібно враховувати, що при різкому потеплінні рибу слід шукати біля підвітряного берега. Отже, необхідно враховувати, яку переважно погоду в даній місцевості обіцяють вітри того або іншого напряму. Крім того, існує думка, що вітер, що дме уздовж течії залишає рибалку без улову. Це не так: будь-яка річка має безліч вигинів, а значить, на різних її ділянках відносно течії вітер матиме різний напрям.</p></li></ul></td>
					<td>
						<ul><li><b>Наявність водної рослинності</b><p>Водорості в різні часи по-різному впливають на активность і наявність риби. Водорості – це укриття для хижаків і кормова база для мирної риби. А в період активного гниття, в місцях, де присутня велика кількість водоростей, різко знижується вміст кисню, що змушує покинути цю місцевість всю іхтіофауну.</p></li>
						</ul>
					</td>
			<td><img src="{% static 'fish/photos/рыба2.jpg' %}" width="600" height="327"></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><img src="{% static 'fish/photos/дно.jpg' %}"></td>
			<td><ul>
				<li><b>Стан дна</b><p>Якщо дно прибійного берега мулисте або глинисте, то прибійна хвиля вимиватиме личинок різних комах, що залучить сюди відразу мирну рибу, а потім і хижака. А коли дно кам'янисте або піщане, та ще і з відсутньою водною рослинністю – навряд чи варто чекати тут скупчення риби.</p></li>
				<li><b>Течія і рельєф дна</b><p>Як відомо, риби більш охоче рухаються проти течії. І якщо з річками – більш менш все ясно, то в озерах і ставках, де течія практично відсутня, орієнтуватися потрібно, або по вітру, або ж по його напряму до настання штилю. Саме вітер створює в озерах різні течії. Вони міняються із зміною його сили і напряму. Це слід пам'ятати при лові на мілинах: риба скупчується в таких місцях на кордоні від мілини і глибини, стоячи проти течії головою до мілини. При пошуках таких місць треба мати на увазі, що течія в придонному шарі може бути направлена під будь-яким кутом до верхового. Це залежить від рельєфу дна, розташування берегів і островів. Придонні течії зберігаються і при повному штилі за рахунок повернення назад водних мас, нагнаних раніше вітром. Особливо сильні течії виникають в протоках між озерами і між островами, тут краще клювання спостерігається в моменти найбільш сильного руху води. Підхід до берега придонних риб можна чекати при вітрі, що дме з озера, а що мешкають у верхніх шарах води — відповідно при тому, що дме з берега. Так само потрібно пам'ятати, що унаслідок вітрів може змінитися температура води на окремих ділянках водойми, що призведе до підходу риби навіть до тих місць, де її, здавалося б, бути не повинно.</p></li>
			</ul></td>
		</tr>
	</table>
	<table>
		<tr>
			<td>
				<ul>
					<li><b>Опади</b><p>Рясні дощі можуть сприяти підйому рівня води в річці. Якщо це супроводжується помутнінням води, то клювання погіршає: підняті з дна тверді частинки забивають зябра, утрудняють «дихання» і, отже, знижують активність риби. В той же час, якщо така річка впадає у велику з чистою і прозорою водою, то гирло «помутнілої» річки навпаки приверне до себе увагу підводних мешканців, що позитивно позначиться на клюванні.</p></li>
				</ul>
			</td>
			<td>
				<ul>
					<li><b>Рівень води</b><p>Якщо зміна рівня води у водоймі не пов'язана з опадами і помутнінням, то результат лову залежить від величини розливу. При сильному розливі риба розходиться по залитих місцях, її концентрація значно знижується. Крім того, при появі нових місць з кормовою базою інтерес до наживки значно знижується. При падінні рівня води клювання погіршується лише перший час. Як тільки рівень стабілізується, активність риб поновлюється, а з врахуванням щільності, що збільшилася, улови в такий час можуть бути вельми успішними.</p></li>
				</ul>
			</td>
		</tr>
	</table>
	<a href='\'>Повернутись до погоди</a>
</body>
{% endblock content %}
</html>