<!DOCTYPE html>
<html>
{% extends 'base_weather.html' %}
{% block content %}
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
<!--	<style type="text/css">-->
<!--		body{-->
<!--			background: url(https://img.freepik.com/premium-photo/simple-white-background-with-smooth-lines-light-colors_476363-5558.jpg?w=1060);-->
<!--		}-->

<!--	/*	p{-->
<!--			color: #3989E6;-->

<!--		}*/-->
<!--		a{-->
<!--			color: blue;-->
<!--		}-->
<!--		h1{-->
<!--			color: gray;-->
<!--			background: aliceblue;-->
<!--			background-position: center;-->
<!--			padding: auto;-->
<!--		}-->
<!--		h2{-->
<!--			color: #E67F37;-->
<!--		}-->

<!--	</style>-->

<!--	<h1>Календар Кльову</h1>-->

</head>
<body>

<!--	<img src="{% static 'fish/photos/seajpg.jpg' %}"  width="1500" height="100">-->


<!--	<h4>Зараз в місті  {{name_city}}</h4>-->

<!--	<ul >-->
<!--	<li><p>Температура: {{temperature}}<sup>°</sup></p></li>-->
<!--	<li><p>Швидкість вітру: {{wind_speed}}<sub>м/с</sub></p></li>-->
<!--	<li><p>Напрямок вітру: {{wind_der}}</p></li>-->
<!--	<li><p>Хмарність: {{cloudy}}</p></li>-->
<!--	<li><p>Вологість повітря: {{humidity}}</p></li>-->

<!--	<li><p>Атмосферний тиск: {{pressure}}</p></li>-->
<!--	</ul>-->

<!--	<h4><a href="\inform\">Корисна інформація</a></h4>-->
<!--	<h4>Також пропонуємо вам подивитись відео по темі полювання та риболовля  <a href="https://www.youtube.com/channel/UC3DxzNnOvlrh1wiYtmZoy0A"><b>тут</b></a></h4>-->
<!--	<a href="\inform\"><img src="{% static 'fish/photos/foto1.jpg' %}" width="device-width" height="525"></a>-->
<!--	<a href="\"> Повернутись до погоди</a>-->

</body>
{% endblock content %}
</html>
