
<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
.accordion {
  background-color: lightcyan;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: lightblue; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>
</head>
<body>
    {% for i in posts %}
    <ul>
      <button class="accordion">{{i.title}}</button>
      <div class="panel">
      <p>{{i.content}}</p>
      <table>
        <tr>
        {% if i.photo %}
        <td><img height="320" src="{{ i.photo.url }}"><br></td>
            {% endif %}
        {% if i.photo2 %}
        <td><img height="320" src="{{ i.photo2.url }}"><br></td>
            {% endif %}
            {% for f in fotos %}
        {% if i.photo1_id and i.photo1_id == f.id %}
        <td><img height="320" src="{{ f.photos.url }}"><br></td>
        {% endif %}
        {% endfor f in fotos %}
        </tr>
      </table>
      <br>
        {% for c in coment_data%}
        {% if c.post_id and c.post_id == i.id %}
        <p>{{c.time_create}} коментар : {{c.comment}} </p>
        {% endif %}

        {% endfor c in coment_data%}
      <br>
      <form action="{% url 'story' %}" method="GET">
        <label for="comment">Коммент</label><br>
        <textarea rows="4" cols="50" required placeholder="Що думаєте?" name="comment" id="comment"></textarea>
        <button type="submit">Опублікувати</button>
      </form>
      <br>
      </div>
    </ul>
    {% endfor i in posts %}
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
    </script>
</body>
{% endblock content %}
</html>